@media screen and (max-width:752px){
    .exchange{
        width: 100% !important;
    }
    .exchange>li>ol>li:nth-child(3){
        display: none;
    }
    .date{
        display: block;
    }
    .page{
        display: none;
    }
    .pages{
        display: flex;
    }
}

@media screen and (max-width:680px){

	.message {
		width: 540px;	
	}
	textarea {
		background-size: 100%;
	}
	.textarea>lable{
		top: 14px;
	}
	.exchange>li>ol>li:nth-child(2) {

		padding-left:20px;
	
	}
	.exchange>li>ol>li:nth-child(1) {
    padding-right:10px;
	}
	.pages>li {
		width: 130px;
		height: 38px;
		border-radius: 14px;
		line-height: 38px;
		font-size: 20px;
	}
}
@media screen and (max-width:560px){
	.message {
		width: 440px;	
	}
	textarea {
	padding:
		background-size: 100%;
	}
	.textarea>lable{
		top: 28px;
	}
	.input-con{
		width:90%;
		background-size:100% 100%;
		margin:4px auto;
		height: 44px;
	}
	.input-box{
		height:auto;
		flex-wrap:wrap;
	}
	.exchange>li>ol>li:nth-child(2) {
		width: 450px;
		padding-left:20px;
	
	}

}
@media screen and (max-width:460px){
	.message {
		width: 360px;	
	}
	.textarea>lable{
		top: 42px;
	}
	.exchange>li>ol>li:nth-child(1) {
		font-size:14px;
	
	}
	.exchange>li>ol>li:nth-child(2) {
		width: 380px;
		padding-left:20px;
		font-size:14px;
	
	}
	.administrator{
		font-size:14px;
	}
	.pages>li {
		width: 110px;
		height: 38px;
		border-radius: 12px;
		line-height: 38px;
		font-size: 18px;
	}
}
@media screen and (max-width:380px){

	.message {
		width: 90%;	
	}
	textarea {
		padding:50px 40px;
	}
	.exchange>li>ol>li:nth-child(1) {
		font-size:12px;
	
	}
	.exchange>li>ol>li:nth-child(2) {
		font-size:12px;
	
	}
	.pages>li {
    width: 90px;
    height: 38px;
    border-radius: 10px;
    line-height: 38px;
    font-size: 16px;
	}
	
}